html, body {
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	padding-top: 10px;
}

#editordiv {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 60%;
}

#consolediv {
	position: absolute;
	top: 0;
	left: 60%;
	height: 100%;
	width: 40%;
}

button {
	margin: 15px;
}

textarea {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	resize: none;
}